/*

General navbar

*/
.topnav {
	background-color: #262626;
  overflow: hidden;
	width:100%;
	font-size:15px;
	padding:0;
}

.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: left;
	text-decoration: none;
	padding: 21px 23px;
}

.topnav .siteTitle {
	font-size:23px;
	padding: 16px 23px;
}

.topnav .siteTitle a {
	padding: 15px 42px 15px 0;
}

.topnav a.active{
	background:#564278;
}

.topnav .siteTitle:hover {
	background:#262626;
	color:#ddd;
}

.topnav a:hover {
	background:#00631b;
}

.accounts {
	margin:0;
	float:right !important;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 21px 23px;
}

/*

responsive

*/


.topnav a:not(:first-child), .topnav p {display: none;}


.topnav a.icon {
  float: right;
  display: block;
	font-size: 24px;
	padding: 18px 23px;
}

.topnav.responsive {position: relative;}

.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav.responsive a {
  float: none;
  display: block;
}

.topnav.responsive .accounts {
	float: none;
	display:block;
  text-align: left;
	width: 100%;
}

@media only screen and (min-width: 900px) {
  .topnav a:not(:first-child), .topnav p {display: block;}

  .topnav a.icon {
    display: none;
  }
}
